@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

.header-section h1 {
  font-family: "McLaren", cursive;
  font-weight: 300;
}

.header-section {
  background-color: #f5ba13;
  margin: auto-16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 3);
}
